@charset "utf-8";
div{
    border:1px dashed silver;
    padding:20px;
    margin:20px 0;
}

p{
    background:#eee;
    padding:10px;
    border:1px solid silver;
}

table{
    border-collapse:collapse;
}

th, td{
    border:1px solid silver;
    padding:10px 20px;
    text-align:center;
}

th{
    background:#333;
    color:#fff;
    font-weight:normal;
}

tbody tr:nth-child(even){
    background:#eee;
}

.dot{
    border-style:dotted;
}

.dash{
    border-style:dashed;
}

.radius{
    border-radius:10px;
}

textarea{
    width:300px;
    height:100px;
}

#vm11 p {
    white-space:pre-line;
}

#vm15 p:last-child{
    color:#fff;
    text-transform:uppercase;
    font-size:1.5em;
    text-align:center;
}