<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/v2-directive.css">
    <title>Vue2 Directive</title>
</head>
<body>
    <h1>Vue2 Directive</h1>
    <section>
        <h2>v-text vs v-html</h2>
        <div id="vm1">
            <p>Mustache : {{msg1}}</p>
            <p>v-text : <span v-text="msg1"></span></p>
            <p>v-html : <span v-html="msg1"></span></p>
        </div>
    </section>
    <section>
        <h2>v-if</h2>
        <div id="vm2">
            <p v-if="num1<5">{{num1}}</p>
            <p v-else-if="num1<10">대상</p>
            <p v-else>초과</p>
            <button v-on:click="plus">증가</button>
            <button v-on:click="minus">감소</button>
            {{num1}}
        </div>
    </section>
    <section>
        <h2>v-for</h2>
        <div id="vm3">
            <table>
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">이름</th>
                        <th scope="col">나이</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="person in people">
                        <td>{{person.id}}</td>
                        <td>{{person.name}}</td>
                        <td>{{person.age}}</td>
                    </tr>
                </tbody>
            </table>
            <p v-for="person in people">
                {{person.id}}. {{person.name}} : {{person.age}}세
            </p>
        </div>
    </section>
    <section>
        <h2>v-for 객체활용</h2>
        <div id="vm4">
            <p v-for="(value, name) in person">
                {{name}} : {{value}}
            </p>
        </div>
    </section>
    <section>
        <h2>v-bind</h2>
        <div id="vm5">
            <p><a v-bind:href="url1" v-bind:target="newTab">네이버</a></p>
            <p><a v-bind:href="url2" v-bind:target="newTab">다음</a></p>
        </div>
    </section>
    <section>
        <h2>v-bind + v-for</h2>
        <div id="vm6">
            <p v-for="link in websites">
                <a v-bind:href="link.url" v-bind:target="newTab">{{link.name}}</a>
            </p>
        </div>
    </section>
    <section>
        <h2>v-bind : inline-style</h2>
        <div id="vm7">
            <p style="color:red;">직접 지정</p>
            <p v-bind:style="cGreen">스타일 v-bind로 지정</p>
            <p v-bind:style="{color:warning}">스타일 value v-bind로 지정</p>
            <p v-bind:style="{background:warning, color:light}">여러 스타일 v-bind로 여러 스타일 지정</p>
        </div>
    </section>
    <section>
        <h2>v-bind : class</h2>
        <div id="vm8">
            <p v-bind:class="classDot">클래스 v-bind로 지정</p>
            <p v-bind:class="[classDash, classRadius]">다중 클래스 v-bind로 지정</p>
        </div>
    </section>
    <section>
        <h2>v-bind : v-on:click</h2>
        <div id="vm9">
            <p v-bind:class="cl">안녕하세요</p>
            <button v-on:click="ck">버튼</button>
        </div>
    </section>
    <section>
        <h2>v-model : text</h2>
        <div id="vm10">
            <input type="text" v-model="userName" placeholder="이름을 입력하세요.">
            <p>{{userName}}</p>
        </div>
    </section>
    <section>
        <h2>v-model : textarea</h2>
        <div id="vm11">
            <textarea v-model="userSuggestion" placeholder="건의 내용을 입력하세요."></textarea>
            <p>{{userSuggestion}}</p>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/v2-directive.js"></script>
</body>
</html>